$mainColor:#409EFF;

$successColor:#67C23A;

$warningColor:#E6A23C;

$dangerColor:#F56C6C;

$infoColor:#909399;





$fontColor:#303133;

$mainFontColor:#606266;

$assistFontColor:#909399;

$seizeFontColor:#C0C4CC;
