//margin
.margin0{
  margin: 0;
}
.margin20{
  margin: 20px !important;
}
.margin-left40{
  margin-left: 40px !important;
}
.margin-left20{
  margin-left: 20px !important;
}
.margin-top40{
  margin-top: 40px !important;
}
.margin-top20{
  margin-top: 20px !important;
}
.margin-right20{
  margin-right: 20px !important;
}
.margin-right40{
  margin-right: 40px !important;
}
.margin-bottom20{
  margin-bottom: 20px !important;
}
.margin-bottom40{
  margin-bottom: 40px !important;
}



//padding
.padding0{
  padding: 0;
}
.padding20{
  padding: 20px !important;
}
.padding-left40{
  padding-left: 40px !important;
}
.padding-left20{
  padding-left: 20px !important;
}
.padding-top40{
  padding-top: 40px !important;
}
.padding-top20{
  padding-top: 20px !important;
}
.padding-right20{
  padding-right: 20px !important;
}
.padding-right40{
  padding-right: 40px !important;
}
.padding-bottom20{
  padding-bottom: 20px !important;
}
.padding-bottom40{
  padding-bottom: 40px !important;
}


//border




